.contact {
  padding: 30px 15px;
}

.contact h3 {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact p,
.contact a {
  font-size: 18px;
  line-height: 1.6;
}

.contact a {
  text-decoration: none;

  transition: color 0.3s ease;
}

.contact a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--branding-color);
  color: var(--highlight-color);
  padding: 20px 15px;
}
